.banner-inicio img {
    display: block;
    width: 100vw;
    height: calc(97.7vh - #{$height-header});
    object-fit: cover;
  }

  .envoltorio {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .login-title {
    text-align: center;
    color: #ffffff;
    margin: 1rem 0 3rem;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
      margin-bottom: 0;
    }
    span {
      font-size: 1rem;
      letter-spacing: 1.5;
      font-weight: 300;
    }
  } 

