.img-content {
    @include from(m) {
        width: 50%;
    }
}
.content-box {
    position: absolute;
    top: 33%;
    left: 20px;
    width: 62%;
    @include from(m) {
        top: 90%;
        width: 20%;
        left: 15%;
        i {
            font-size: 2em;
        }
    }
}


.content-title {
    margin-bottom: 1rem;
    text-align: center;
}

.title__primary {
    text-align: center;
    font-size: $t2;
    font-weight: $regular;
    @include from(m) {
        font-size: $t2;
    }
}

.title__badge {
    padding: .5rem 1rem;
    display: inline;
    background-color: $btn-cuarteario;
    color: #fff;
}

.content-footer {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    .button-group {
        display: flex;
        flex-direction: column;
        @include from(m) {
            flex-direction: row;
            justify-content: space-between;
            flex: 1;
        }
    }
}

.content-count {
    font-weight: $regular;
    display: flex;
    justify-content: center;
    font-size: $t3;
    margin-bottom: .5rem;
}

.contador-clock {
    display: flex;
    justify-content: center;
}

.box-baner {
    position: relative;
    height: 80vh;
    margin-left: -15px;
    margin-right: -15px;
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}
