.button-group {
    .btn {
        margin-bottom: .5rem;
    }
    .btn:last-child {
        margin-bottom: 0;
    }
}

.btn {
    line-height: 20px;
    min-width: 200px;
    padding: .3rem .7rem;

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__info {
        background-color: $btn-primario;
        color: #FFFFFF;
        font-size: 0.9rem;
        text-transform: uppercase;
        padding: 3px 12px;
        font-weight: 700;
        border-radius: 2rem;
    }

    &__primary {
        background-color: #0077ff;
        color: #FFFFFF;
        font-size: 0.9rem;
        text-transform: uppercase;
        padding: 4px 12px;
        font-weight: 700;
        border-radius: 2rem;
    }

    &__secundary {
        background-color: $btn-secundario;
        color: #FFFFFF;
        font-size: 0.9rem;
        text-transform: uppercase;
        padding: .5rem .25rem;
        font-weight: 700;
        border-radius: 2rem;
    }

    &__terciario {
        background-color: $btn-terciario;
        color: #FFFFFF;
        font-size: 0.9rem;
        text-transform: uppercase;
        padding: .5rem 2.25rem;
        font-weight: 700;
        border-radius: 2rem;
    }

    &__home {
        background-color: #FFFFFF;
        color: #1B6898;
        font-weight: 700 !important;
        text-transform: uppercase;
      }
    &__return {
        background-color: #fafafa;
        color: #263238;
        font-size: 0.9rem;
        border: 1px solid #90a4ae;
        text-transform: uppercase;
        padding: .5rem 1.25rem;
        font-weight: 700;
        border-radius: 8px;
    }


}

.btn__small__success {
    line-height: 20px;
    margin-right: 2px;
    min-width: 150px;
    background-color: #27ae60;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn__small__primary {
    line-height: 20px;
    margin-right: 2px;
    min-width: 150px;

    background-color: rgb(0, 119, 255);
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn__primary {
    background-color: $btn-primario;
    color: #FFFFFF;
    text-transform: uppercase;
}