.course {
    &__box {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #004E9B;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-bottom: 3em;
        @media screen and (min-width:700px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__img {
        margin-bottom: 1em;
        @include from(m) {
            flex: 2;
            width: 30%;
            margin-bottom: 0;
            margin-right: 4em;
        }
    }

    &__title {
        font-size: 1.8rem;
        font-weight: $regular;
        @include from(m) {
            text-transform: uppercase;
            padding: 4px;
            background-color: #f3f4f4;
            margin-bottom: 0.25rem;
        }

    }

    &__title2 {
        font-size: x-large;
        text-transform: uppercase;
        padding: 4px;
        background-color: #f3f4f4;
        margin-bottom: 8px;
        font-weight: bold;
    }
    &__description {
        font-size: 1rem;
    }

    &__action {
        display: flex;
        flex-direction: column;
        @include from(m) {
            flex-direction: row;
            padding: .25rem;
            gap: 1rem;
            & button {
                margin-bottom: 0.5em;
            }
        }

        a {
            margin-bottom: .5rem;
            @include from(m) {
                margin-bottom: 0;
            }
        }
    }
    &__button{
        top: 25%;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 0.9rem;
        background-color: #27ae60;
        color: #FFFFFF;
        border-radius: 8px;
        padding: 4px 12px;
        font-weight: 700;
    }
    &_style{
        display: flex;
        margin-bottom: 2rem;
        border-radius: 16px;
        min-height: 100px;
        max-height: 400px;
        box-shadow: 0 5px 10px 0 #cbced0;
    }

    &_box{
        display: flex;
        margin-bottom: 2rem;
        border-radius: 16px;
        min-height: 180px;
        box-shadow: 0 5px 10px 0 #cbced0;
    }

    &__img{
        background: #5C9EAD;
        border-radius: 16px;
        flex: 2;
        padding: 0 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            height: 100%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 7;
        padding: .75rem;
        }


}

.course-category__img {
    height: 40px;
}
