.header
{
    height: $height-header;
    background-color:$header-bg;
    align-items: center;
    z-index: $z-header;
    color: #FFFFFF;
    @include from(m) {
        height: $height-header-m;
    }

    .header-container {

    }
}

.nav {
    display: flex;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        img {
            display: block;
            height: 30px;
            @include from(m) {
                height: 55px;
            }
        }
    }
}

