.user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    @include from(m) {
        flex: none;
        align-self: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    &__info {
        display: flex;
        font-size: .75rem;
        align-items: center;
    }

    &__img {
        display: block;
        height: 30px;
        margin-right: 1.5rem;
        border-radius: 50%;
        @include from(m) {
            height: 55px;
        }
    }
    &__profile {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        font-size: .9em;
        align-self: center;
        font-weight: $regular;
        @include from(m) {
            font-size: 1rem;
        }
    }
    &__name {
        text-transform: uppercase;
        margin-bottom: 6px;
        &--ranking {
            font-weight: $light;
            text-transform: capitalize;
            margin-bottom: 3px;
        }
    }

    &__area {
        font-size: .8em;
        text-transform: capitalize;
    }

    &__data {
        display: none;
        @include from(m) {
            display: block;

            span {
                font-weight: $regular;
                font-size: 1.2rem;
                color: $secundary;
            }
        }
    }
}
