// ===========================================================

/* paleta de clores*/

// Colors
$header-bg: #D01E3F;

$btn-primario: #D01E3F;
$btn-secundario: #EE402D;
$btn-terciario: #FCBF0D;
$btn-cuarteario: #0077ff;
//-- colores prmarios

$primary: #D01E3F;

//-- colores secundarios
$secundary: #54bb86;
$tertiary: #E6E7E8;
$color-text: #333;


/* fonts */

//-- tamaño de fuente

$t1: 2.827rem; // h1
$t2: 1.999rem; // h2
$t3: 1.414rem; // h3
$base: 1rem; // parrafos
$s1: 0.817rem; // small
$s2: 0.5rem;
$s3: 354rem;

//-- line height

$line-height: 15px;

//-- nombre de fuente

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i');
$family: 'Open Sans', sans-serif;

//-- grosor de fuente
$light: 400;
$regular: 700;

/*-- z index --*/
$z-header: 100;
$z-info: 5;

/*== toggle menu ==*/
$width-toggle: 23px;
$height-toggle: 2.8px;

// height header

$height-header: 75px;
$height-header-m: 90px;

// width off canvas
$offcanvas-width: 14em;
